*/venv/
*.pyc
__pycache__/

# Temporary files
*.tmp
*.temp
.cache/

# Editor directories and files
.idea/
.vscode/
.history/
*.swp
*.swo
.DS_Store
Thumbs.db

# Cache directories
.npm/
.eslintcache
.stylelintcache